<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Index Page</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
      </head>
      <body>
        <% include partials/nav.ejs %>
          <h1>Welcome to the internets and stuff</h1>
          <p>Best page in the whole friggin net</p>
      </body>
</html>
